#VacationPy
Maria Barrera -- 02/07/2021

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# data file -- created from mainWeatherPy
city_path = "output_data/cities_file.csv"
city_path

'output_data/cities_file.csv'

In [3]:
# Read the city data 
city_data = pd.read_csv(city_path)
city_data

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,9505,carnarvon,0,AU,1612811945,100,-24.8667,113.6333,298.15,8.23
1,2011314,port alfred,79,ZA,1612812024,88,-33.5906,26.8910,292.59,0.89
2,8303,ushuaia,0,AR,1612811989,55,-54.8000,-68.3000,290.15,7.20
3,5832,saint george,1,US,1612811821,27,37.1041,-113.5841,287.04,1.54
4,8926,nikolskoye,0,RU,1612812012,84,59.7035,30.7861,255.93,1.00
...,...,...,...,...,...,...,...,...,...,...
302,8587,san cristobal,40,VE,1612812806,48,7.7669,-72.2250,305.15,5.14
303,8368,itaituba,40,BR,1612812568,66,-4.2761,-55.9836,304.15,2.06
304,2434,atar,0,MR,1612812807,12,20.5169,-13.0499,300.15,3.09
305,8675,pucallpa,40,PE,1612812572,58,-8.3791,-74.5539,305.15,3.09
306,8838,qovlar,90,AZ,1612812811,100,40.9480,45.7350,276.15,2.06

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Convert humidity as a list
humidity_list = city_data['Humidity']
humidity_list

0      100
1       88
2       55
3       27
4       84
      ...
302     48
303     66
304     12
305     58
306    100
Name: Humidity, Length: 307, dtype: int64

In [5]:
# Create a map using city coordinates to set markers
marker_locations = city_data[['Lat', 'Lng']]

# Create a marker_layer using humidity list to fill the info box
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content=[f"Humidity: {humidity}" for humidity in humidity_list])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
#for reference only
city_data.columns

Index(['City ID', 'City', 'Cloudiness', 'Country', 'Date', 'Humidity', 'Lat',
       'Lng', 'Max Temp', 'Wind Speed'],
      dtype='object')

In [7]:
#  temperature conversion & column update

new_df = city_data

# for testing only ---------------
# maxtemp = 294.26
# temp_f = (maxtemp - 273.15) * 9/5 +32
# temp_f
# --------------------------------

for ind in new_df.index: 
    maxtemp = new_df['Max Temp'][ind]
    temp_f = (maxtemp - 273.15) * 9/5 +32
    new_df['Max Temp'][ind] = temp_f
    
    # for testing only
    #print(temp_f)
    #print(new_df['Max Temp'][ind], ind) 
    
new_df.head(20)

<ipython-input-7-763fad2a44b4>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Max Temp'][ind] = temp_f

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,9505,carnarvon,0,AU,1612811945,100,-24.8667,113.6333,77.000,8.23
1,2011314,port alfred,79,ZA,1612812024,88,-33.5906,26.8910,66.992,0.89
2,8303,ushuaia,0,AR,1612811989,55,-54.8000,-68.3000,62.600,7.20
3,5832,saint george,1,US,1612811821,27,37.1041,-113.5841,57.002,1.54
4,8926,nikolskoye,0,RU,1612812012,84,59.7035,30.7861,1.004,1.00
5,8491,coihaique,0,CL,1612811839,25,-45.5752,-72.0662,86.000,2.57
6,1966,bredasdorp,5,ZA,1612811743,78,-34.5322,20.0403,69.800,3.60
7,951,norman wells,1,CA,1612812062,68,65.2820,-126.8329,-32.800,3.60
8,8474,vila velha,90,BR,1612812052,94,-20.3297,-40.2925,78.998,1.55
9,9616,taiyuan,0,CN,1612812334,68,37.8694,112.5603,21.200,0.60
10,7955,hasaki,20,JP,1612812011,44,35.7333,140.8333,33.800,7.72
11,1943,saldanha,0,ZA,1612812067,73,-33.0117,17.9442,69.800,8.75
12,81,tasiilaq,75,GL,1612812009,63,65.6145,-37.6368,23.000,7.20
13,8488,antofagasta,20,CL,1612812447,64,-23.6500,-70.4000,73.004,6.69
14,8152,san fernando,75,PH,1612812336,78,15.0286,120.6898,75.200,2.06
15,9525,esperance,0,AU,1612812043,88,-33.8667,121.9000,62.600,3.60
16,7414,qurayyat,0,SA,1612812337,47,31.3318,37.3428,55.400,5.14
17,1899,cape town,20,ZA,1612812325,78,-33.9258,18.4232,71.996,8.75
18,2378,aguimes,75,ES,1612812338,68,27.9054,-15.4461,66.200,4.12
19,3888,bethel,1,US,1612811784,36,41.3712,-73.4140,28.004,1.54

In [8]:
#vacation selection criteria
#temperature 70-80 degrees
#wind speed <10
#cloudiness = 0

subset_df = new_df[(new_df["Max Temp"] >= 70)]
subset_df = subset_df[subset_df["Max Temp"] <= 80]
subset_df = subset_df[subset_df["Wind Speed"] < 10]
subset_df = subset_df[subset_df["Cloudiness"] == 0]
subset_df

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,9505,carnarvon,0,AU,1612811945,100,-24.8667,113.6333,77.000,8.23
45,7562,salalah,0,OM,1612812056,73,17.0151,54.0924,73.400,1.03
101,8691,pisco,0,PE,1612812644,73,-13.7000,-76.2167,77.000,3.60
123,2030260,viedma,0,AR,1612812025,38,-40.8135,-62.9967,75.992,1.34
146,8480,calama,0,CL,1612812432,29,-22.4667,-68.9333,75.200,9.26
246,9233,varca,0,IN,1612812507,69,15.2167,73.9167,77.000,3.60

In [18]:
# create 2nd map - selected vacation cities
# Convert humidity as a list
humidity_list2 = subset_df['Humidity']
humidity_list2

# Create a map using city coordinates to set markers
marker_locations = subset_df[['Lat', 'Lng']]

# Create a marker_layer using humidity list to fill the info box
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content=[f"Humidity: {humidity}" for humidity in humidity_list2])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

# -- does not work
#vacation selection criteria
#temperature 70-80 degrees
#wind speed <10
#cloudiness = 0

temp_start = 70
temp_end = 80

subset_df = new_df[(new_df["Wind Speed"] < 10) &
                   (new_df["Cloudiness"] == 0) &
                   (new_df["Max Temp"][temp_start:temp_end])]
subset_df

In [9]:
# Drop any rows will null values
subset_df = subset_df.dropna(how="any")
subset_df

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,9505,carnarvon,0,AU,1612811945,100,-24.8667,113.6333,77.000,8.23
45,7562,salalah,0,OM,1612812056,73,17.0151,54.0924,73.400,1.03
101,8691,pisco,0,PE,1612812644,73,-13.7000,-76.2167,77.000,3.60
123,2030260,viedma,0,AR,1612812025,38,-40.8135,-62.9967,75.992,1.34
146,8480,calama,0,CL,1612812432,29,-22.4667,-68.9333,75.200,9.26
246,9233,varca,0,IN,1612812507,69,15.2167,73.9167,77.000,3.60

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
# set up hotel df to hold information
hotel_df = pd.DataFrame()

hotel_df['Hotel Name'] = ""
hotel_df

Empty DataFrame
Columns: [Hotel Name]
Index: []

In [ ]:
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=32.800870,-96.830803&radius=400&name=Sheraton&key=%5bkey%5d

In [11]:
# get the json
# Target city
target_city = "Boise, Idaho"

# Build the endpoint URL
target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(target_city, g_key)
target_url

'https://maps.googleapis.com/maps/api/geocode/json?address=Boise, Idaho&key=AIzaSyDCIiVxHR0Tumztel22lspu7sZZjPFSixU'

In [12]:
# Run a request to endpoint and convert result to json
geo_data = requests.get(target_url).json()

# Print the json
print(geo_data)

{'results': [{'address_components': [{'long_name': 'Boise', 'short_name': 'Boise', 'types': ['locality', 'political']}, {'long_name': 'Ada County', 'short_name': 'Ada County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Idaho', 'short_name': 'ID', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}], 'formatted_address': 'Boise, ID, USA', 'geometry': {'bounds': {'northeast': {'lat': 43.6898951, 'lng': -116.1019091}, 'southwest': {'lat': 43.511717, 'lng': -116.3658869}}, 'location': {'lat': 43.6150186, 'lng': -116.2023137}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 43.6898951, 'lng': -116.1019091}, 'southwest': {'lat': 43.511717, 'lng': -116.3658869}}}, 'place_id': 'ChIJnbRH6XLxrlQRm51nNpuYW5o', 'types': ['locality', 'political']}], 'status': 'OK'}

In [13]:
# Print the json (pretty printed)
print(json.dumps(geo_data, indent=4, sort_keys=True))

{
    "results": [
        {
            "address_components": [
                {
                    "long_name": "Boise",
                    "short_name": "Boise",
                    "types": [
                        "locality",
                        "political"
                    ]
                },
                {
                    "long_name": "Ada County",
                    "short_name": "Ada County",
                    "types": [
                        "administrative_area_level_2",
                        "political"
                    ]
                },
                {
                    "long_name": "Idaho",
                    "short_name": "ID",
                    "types": [
                        "administrative_area_level_1",
                        "political"
                    ]
                },
                {
                    "long_name": "United States",
                    "short_name": "US",
                    "types": [
                        "country",
                        "political"
                    ]
                }
            ],
            "formatted_address": "Boise, ID, USA",
            "geometry": {
                "bounds": {
                    "northeast": {
                        "lat": 43.6898951,
                        "lng": -116.1019091
                    },
                    "southwest": {
                        "lat": 43.511717,
                        "lng": -116.3658869
                    }
                },
                "location": {
                    "lat": 43.6150186,
                    "lng": -116.2023137
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                    "northeast": {
                        "lat": 43.6898951,
                        "lng": -116.1019091
                    },
                    "southwest": {
                        "lat": 43.511717,
                        "lng": -116.3658869
                    }
                }
            },
            "place_id": "ChIJnbRH6XLxrlQRm51nNpuYW5o",
            "types": [
                "locality",
                "political"
            ]
        }
    ],
    "status": "OK"
}

In [14]:
# Extract latitude and longitude
lat = geo_data["results"][0]["geometry"]["location"]["lat"]
lng = geo_data["results"][0]["geometry"]["location"]["lng"]

# Print the latitude and longitude
print('''
    City: {0}
    Latitude: {1}
    Longitude: {2}
    '''.format(target_city, lat, lng))

    City: Boise, Idaho
    Latitude: 43.6150186
    Longitude: -116.2023137

In [16]:
#### DO NOT ALTER THIS CODE (except:  changed gkey to g_key)

#### find the closest hotel to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords
    "rankby": "distance",
    "type": "hotel",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

NameError: name 'types_df' is not defined

# for reference only

#### find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure